<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NUBANKO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-item>
        <ion-label position="floating">
          Login
        </ion-label>
        <ion-input [(ngModel)] = "login"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label position="floating">
      Senha
    </ion-label>
    <ion-input type="password" [(ngModel)] = "senha"></ion-input>
</ion-item>

<div>
  {{ mensagem }}
</div>

<div>
    <ion-button color="primary" expand="block" (click)="validar()">
      ENTRAR
    </ion-button>
</div>

</div>

</ion-content>
