<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CALCULADORA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div id="container">
    <ion-item>
        <ion-label position="floating">
          Número 1
        </ion-label>
        <ion-input type = "number" [(ngModel)]="n1"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">
          Número 2
        </ion-label>
        <ion-input type = "number" [(ngModel)]="n2"></ion-input>
    </ion-item>

    <div>
      <ion-button color="primary" expand="block" (click)="somar()">
        Somar
      </ion-button>
    </div>

    <div>
      <ion-button color="dark" expand="block" (click)="subtrair()">
        Subtrair
      </ion-button>
    </div>

    <div>
      <ion-button color="danger" expand="block">
        Multiplicar
      </ion-button>
    </div>

    <div>
      <ion-button color="warning" expand="block">
        Dividir
      </ion-button>
    </div>

    <div>
        <ion-item>
          <ion-label position="stacked">
            Resposta
          </ion-label>
      <ion-input readonly value="{{resposta}}"></ion-input>
      </ion-item>
    </div>
</div>

</ion-content>
